@model Proyecto.DataAccess.product

@{
    ViewBag.Title = "Create";
}

<h2 style="color:burlywood" class="well well-sm">Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="alert alert-warning">
        <legend>product</legend>

        <div class="label label-default" style="margin-right:330px; font-style:italic">
            @Html.LabelFor(model => model.code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code)
            @Html.ValidationMessageFor(model => model.code)
        </div>

        <div class="label label-default" style="margin-right:260px; font-style:italic">
            @Html.LabelFor(model => model.familyProduct, "family_product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("familyProduct", String.Empty)
            @Html.ValidationMessageFor(model => model.familyProduct)
        </div>

        <div class="label label-default" style="margin-right:260px; font-style:italic">
            @Html.LabelFor(model => model.product_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.product_name)
            @Html.ValidationMessageFor(model => model.product_name)
        </div>

        <div class="label label-default" style="margin-right:290px; font-style:italic">
            @Html.LabelFor(model => model.unit_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unit_price)
            @Html.ValidationMessageFor(model => model.unit_price)
        </div>

        <div class="label label-default" style="margin-right:290px; font-style:italic">
            @Html.LabelFor(model => model.expiration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.expiration)
            @Html.ValidationMessageFor(model => model.expiration)
        </div>

        <div class="label label-default" style="margin-right:290px; font-style:italic">
            @Html.LabelFor(model => model.existence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.existence)
            @Html.ValidationMessageFor(model => model.existence)
        </div>

        <div class="label label-default" style="margin-right:290px; font-style:italic">
            @Html.LabelFor(model => model.minimum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.minimum)
            @Html.ValidationMessageFor(model => model.minimum)
        </div>

        <div class="label label-default" style="margin-right:295px; font-style:italic">
            @Html.LabelFor(model => model.supplier, "supplier")
        </div>
        <div class="editor-field">
            @Html.DropDownList("supplier", String.Empty)
            @Html.ValidationMessageFor(model => model.supplier)
        </div>
        <br></br>
        <p>
            <input class="btn btn-lg btn-warning" type="submit" value="Create" />
        </p>
    </fieldset>
}

<div class="btn btn-sm btn-success">&larr;
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
