@model Proyecto.DataAccess.accounts_payable

@{
    ViewBag.Title = "Edit";
}

<h2 style="color:burlywood" class="well well-sm">Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="alert alert-warning">
        <legend>accounts_payable</legend>

        @Html.HiddenFor(model => model.id)

        <div class="label label-default" style="margin-right:330px; font-style:italic">
            @Html.LabelFor(model => model.purchaseOrder, "purchaseOrder1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("purchaseOrder", String.Empty)
            @Html.ValidationMessageFor(model => model.purchaseOrder)
        </div>

        <div class="label label-default" style="margin-right:370px; font-style:italic">
            @Html.LabelFor(model => model.supplier, "supplier1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("supplier", String.Empty)
            @Html.ValidationMessageFor(model => model.supplier)
        </div>

        <div class="label label-default" style="margin-right:400px; font-style:italic">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="label label-default" style="margin-right:340px; font-style:italic">
            @Html.LabelFor(model => model.amount_total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.amount_total)
            @Html.ValidationMessageFor(model => model.amount_total)
        </div>

        <div class="label label-default" style="margin-right:355px; font-style:italic">
            @Html.LabelFor(model => model.total_taxes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.total_taxes)
            @Html.ValidationMessageFor(model => model.total_taxes)
        </div>

        <div class="label label-default" style="margin-right:325px; font-style:italic">
            @Html.LabelFor(model => model.total_withTaxes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.total_withTaxes)
            @Html.ValidationMessageFor(model => model.total_withTaxes)
        </div>

        <div class="label label-default" style="margin-right:390px; font-style:italic">
            @Html.LabelFor(model => model.state)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.state)
            @Html.ValidationMessageFor(model => model.state)
        </div>
        <br></br>
        <p>
            <input class="btn btn-lg btn-warning" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div class="btn btn-sm btn-success">&larr;
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
