@model Proyecto.DataAccess.EMPLOYEES

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EMPLOYEES</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.identification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.identification)
            @Html.ValidationMessageFor(model => model.identification)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.last_name)
            @Html.ValidationMessageFor(model => model.last_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.age)
            @Html.ValidationMessageFor(model => model.age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.license)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.license)
            @Html.ValidationMessageFor(model => model.license)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password1)
            @Html.ValidationMessageFor(model => model.password1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.postType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.postType)
            @Html.ValidationMessageFor(model => model.postType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.salary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salary)
            @Html.ValidationMessageFor(model => model.salary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.a_ddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.a_ddress)
            @Html.ValidationMessageFor(model => model.a_ddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
