@model Proyecto.DataAccess.supplier

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>supplier</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.legalIdentification_card)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.legalIdentification_card)
            @Html.ValidationMessageFor(model => model.legalIdentification_card)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.company)
            @Html.ValidationMessageFor(model => model.company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.account)
            @Html.ValidationMessageFor(model => model.account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
