@model IEnumerable<Proyecto.DataAccess.bill>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:burlywood" class="well well-sm">Bills</h2>

<ul class="pager">
    <li class="next"> 
        @Html.ActionLink("Create New", "Create")
    </li>
</ul>
<br></br>
<div class="panel panel-warning">
    <div class="panel-heading">Existing Bills </div>  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.client1.identification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount_total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_taxes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_withTaxes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.client1.identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount_total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_taxes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_withTaxes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td class=" breadcrumb label label-danger">
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>
</div>