@model Proyecto.DataAccess.EMPLOYEE

@{
    ViewBag.Title = "Edit";
}

<h2 style="color:burlywood" class="well well-sm">Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="alert alert-warning">
        <legend>EMPLOYEE</legend>

        @Html.HiddenFor(model => model.id)

        <div class="label label-default" style="margin-right:330px; font-style:italic">
            @Html.LabelFor(model => model.identification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.identification)
            @Html.ValidationMessageFor(model => model.identification)
        </div>

        <div class="label label-default" style="margin-right:380px; font-style:italic">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="label label-default" style="margin-right:350px; font-style:italic">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.last_name)
            @Html.ValidationMessageFor(model => model.last_name)
        </div>

        <div class="label label-default" style="margin-right:390px; font-style:italic">
            @Html.LabelFor(model => model.age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.age)
            @Html.ValidationMessageFor(model => model.age)
        </div>

        <div class="label label-default" style="margin-right:367px; font-style:italic">
            @Html.LabelFor(model => model.license)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.license)
            @Html.ValidationMessageFor(model => model.license)
        </div>

        <div class="label label-default" style="margin-right:355px; font-style:italic">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="label label-default" style="margin-right:375px; font-style:italic">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="label label-default" style="margin-right:350px; font-style:italic">
            @Html.LabelFor(model => model.postType, "postType1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("postType", String.Empty)
            @Html.ValidationMessageFor(model => model.postType)
        </div>

        <div class="label label-default" style="margin-right:375px; font-style:italic">
            @Html.LabelFor(model => model.salary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salary)
            @Html.ValidationMessageFor(model => model.salary)
        </div>

        <div class="label label-default" style="margin-right:365px; font-style:italic">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="label label-default" style="margin-right:375px; font-style:italic">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
        <br></br>
        <p>
            <input class="btn btn-lg btn-warning" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div class="btn btn-sm btn-success">&larr;
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
