@model Proyecto.DataAccess.client

@{
    ViewBag.Title = "Create";
}

<h2 style="color:burlywood" class="well well-sm">Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="alert alert-warning">
        <legend>client</legend>

        <div class="label label-default" style="margin-right:330px; font-style:italic">
            @Html.LabelFor(model => model.identification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.identification)
            @Html.ValidationMessageFor(model => model.identification)
        </div>

        <div class="label label-default" style="margin-right:370px; font-style:italic">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="label label-default" style="margin-right:340px; font-style:italic">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.last_name)
            @Html.ValidationMessageFor(model => model.last_name)
        </div>

        <div class="label label-default" style="margin-right:366px; font-style:italic">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="label label-default" style="margin-right:366px; font-style:italic">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="label label-default" style="margin-right:355px; font-style:italic">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>
        <br></br>
        <p>
            <input class="btn btn-lg btn-warning" type="submit" value="Create" />
        </p>
    </fieldset>
}

<div class="btn btn-sm btn-success">&larr;
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
