@model Proyecto.DataAccess.detailBill

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>detailBill</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bill1.payment_term)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bill1.payment_term)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product1.product_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product1.product_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
