@model IEnumerable<Proyecto.DataAccess.detailBill>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:burlywood" class="well well-sm">Detail Bill</h2>

<ul class="pager">
    <li class="next"> 
        @Html.ActionLink("Create New", "Create")
    </li>
</ul>
<br></br>
<div class="panel panel-warning">
    <div class="panel-heading">Existing Detail Bill </div>  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bill1.payment_term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product1.product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bill1.payment_term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product1.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td class=" breadcrumb label label-danger">
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>
</div>