@model Proyecto.DataAccess.detailPurchaseOrder

@{
    ViewBag.Title = "Details";
}

<h2 style="color:burlywood" class="well well-sm">Details</h2>

<fieldset class="alert alert-warning">
    <legend>detailPurchaseOrder</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product1.product_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product1.product_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.purchaseOrder1.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.purchaseOrder1.description)
    </div>
</fieldset>
<p class="btn btn-lg btn-warning">
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
