@model Proyecto.DataAccess.detailPurchaseOrder

@{
    ViewBag.Title = "Edit";
}

<h2 style="color:burlywood" class="well well-sm">Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="alert alert-warning">
        <legend>detailPurchaseOrder</legend>

        @Html.HiddenFor(model => model.id)

        <div class="label label-default" style="margin-right:332px; font-style:italic">
            @Html.LabelFor(model => model.product, "product1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("product", String.Empty)
            @Html.ValidationMessageFor(model => model.product)
        </div>

        <div class="label label-default" style="margin-right:340px; font-style:italic">
            @Html.LabelFor(model => model.amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.amount)
            @Html.ValidationMessageFor(model => model.amount)
        </div>

        <div class="label label-default" style="margin-right:360px; font-style:italic">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="label label-default" style="margin-right:290px; font-style:italic">
            @Html.LabelFor(model => model.purchaseOrder, "purchaseOrder1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("purchaseOrder", String.Empty)
            @Html.ValidationMessageFor(model => model.purchaseOrder)
        </div>
        <br></br>
        <p>
            <input class="btn btn-lg btn-warning" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div class="btn btn-sm btn-success">&larr;
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
