@model Proyecto.DataAccess.purchaseOrder

@{
    ViewBag.Title = "Create";
}

<h2 style="color:burlywood" class="well well-sm">Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="alert alert-warning">
        <legend>purchaseOrder</legend>

        <div class="label label-default" style="margin-right:330px; font-style:italic">
            @Html.LabelFor(model => model.supplier, "supplier1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("supplier", String.Empty)
            @Html.ValidationMessageFor(model => model.supplier)
        </div>

        <div class="label label-default" style="margin-right:315px; font-style:italic">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="label label-default" style="margin-right:360px; font-style:italic">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="label label-default" style="margin-right:305px; font-style:italic">
            @Html.LabelFor(model => model.amount_total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.amount_total)
            @Html.ValidationMessageFor(model => model.amount_total)
        </div>

        <div class="label label-default" style="margin-right:320px; font-style:italic">
            @Html.LabelFor(model => model.total_taxes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.total_taxes)
            @Html.ValidationMessageFor(model => model.total_taxes)
        </div>

        <div class="label label-default" style="margin-right:290px; font-style:italic">
            @Html.LabelFor(model => model.total_withTaxes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.total_withTaxes)
            @Html.ValidationMessageFor(model => model.total_withTaxes)
        </div>

        <div class="label label-default" style="margin-right:358px; font-style:italic">
            @Html.LabelFor(model => model.state)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.state)
            @Html.ValidationMessageFor(model => model.state)
        </div>
        <br></br>
        <p>
            <input class="btn btn-lg btn-warning" type="submit" value="Create" />
        </p>
    </fieldset>
}

<div class="btn btn-sm btn-success">&larr;
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
