@model Proyecto.DataAccess.purchaseOrder

@{
    ViewBag.Title = "Details";
}

<h2 style="color:burlywood" class="well well-sm">Details</h2>

<fieldset class="alert alert-warning">
    <legend>purchaseOrder</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.supplier1.company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplier1.company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amount_total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amount_total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_taxes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_taxes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_withTaxes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_withTaxes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.state)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.state)
    </div>
</fieldset>
<p class="btn btn-lg btn-warning">
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
