@model IEnumerable<Proyecto.DataAccess.family_product>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:burlywood" class="well well-sm">Family Product</h2>

<ul class="pager">
    <li class="next"> 
        @Html.ActionLink("Create New", "Create")
    </li>
</ul>
<br></br>
<div class="panel panel-warning">
      <div class="panel-heading">Existing Family Products </div>  
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td class=" breadcrumb label label-danger">
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
</div>